* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  background-color: hsl(220, 20%, 97%);
  color: hsl(220, 20%, 10%);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: hsl(220, 90%, 56%);
  text-decoration: none;
  transition: color 150ms ease;
}

a:hover {
  color: hsl(220, 90%, 48%);
}
